* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.nav-bar {
    clear: both;

    margin: 0;
    padding: 0;
}

.main-menu {
    display: block;
}

.main-menu button {
    border: none;
    border-radius: 0%;
    height: 40px;
    margin-right: 1px;
    outline: none;
    width: 40px;
}

.main-menu button:hover {
    border: 1px solid black;
}

#notification-button, #notification-button:active {
    border: none;
    border-radius: 100%;
    float: right;
    outline: none;
}

#notifications {
    background: gray;
    color: white;
    display: none;
    padding: 5px 10px;
    position: absolute;
    right: 40px;
    top: 30px;
}

#notifications>a {
    color: white;
    display: grid;
    padding: 5px;
    text-decoration: none;
}

#notifications>a:hover {
    border: 1px solid black;
    display: grid;
    padding: 4px;
}

#notifications #renewal {
    color: red;
}
#unread {
    background: red;
    border-radius: 50%;
    color: white;
    height: 20px;
    position: absolute;
    right: 30px;
    text-align: center;
    top: 20px;
    vertical-align: middle;
    width: 20px;
    z-index: 1;
}

.create-new-user {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 20%;
}

.search-user {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 20%;
}

.filtered-users-list a,
.filtered-users-list h4 {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 4fr;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}

.filtered-users-list a:hover {
    border: 1px solid black;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    width: 400px;
    height: 50px;
    text-align: center;
    /* padding: 100px; */
    outline: none;
}

.modal select,
.modal input[type=text]{
    width: 200px;
}

.payments {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 14px;
    margin: 20px auto;
}

.payments td {
    border: 1px solid black;
    text-align: center;
    margin: 0;
    padding: 5px;
}

.payments td button {
    background: transparent;
    border: none;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    width: 100%;
    outline: none;
}

.payments th{
    border: 1px solid black;
}

.payments th *{
    margin: 0 5px;
}

.user-panel-personal-data select, 
.user-panel-personal-data input[type=text] {
    width: 200px;
}

.user-panel-personal-data * {
    margin-bottom: 3px;
    margin-top: 3px;
}

.user-panel-personal-data {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.user-panel-personal-data {
    margin: 0 1rem;
}

.user-info div{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 10px;
    width: 375px;
}